.gnb{
		width: 100%;
		background-color: gray;
		height: 50px;
		margin-top: 50px;
	}
	
	.main{
		background-color: black;	
		color:white;
		width: 220px;
		height: 150px;
		float: left;
		margin-bottom: 500px;
		padding-bottom: 50px;
	}
	
	.sub{
		background-color:#262622 ;
		float: left;	 
		height: 120px;
		width: 450px;
		color: white;
	}
	
		
	#final{
		background-color: black;
		color: white;
		text-align: center;
		height: 70px;
		clear: both;
	}	
	
	li{
		margin-left: 20px;
	}
	
	h1{
		text-align: center;
	}
	
	ul{
		list-style-type: none;
	}
	
	#main{
		height: 50px;
		border-color: gray;
	}
	
	
	#main_option{
		padding-top: 50px;
		padding-left: 50px;
		padding-right: 50px;
	}
	
	.sub_main{
			border: 1px solid white;
		border-collapse: collapse;
		}
	
	.select{
		cursor: pointer;
	}	
	
	.main_particular{
		padding-right: 40px;
	}
	
	
	