table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	
}

th, td {
			padding:  10px;
		}


#rebutton,#regis,#modibutton{
			width: 50px;
			margin: auto;
			display: block;
			width: 200px;
			cursor: pointer;
		}	
#bb:hover{
	color: red;
}

ul{
	list-style: none;
	margin: auto;	
	/* display: inline-block; */ 
	text-align: center;
}

li{
	list-style: none;
	margin: auto;
	display: inline-block;	
	padding: 20px;
	cursor: pointer;
}

li:hover{
	color: red;
}